<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 400px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <p id="mapping"></p>
    <script>
    var x = document.getElementById("mapping");
    function initMap() {
    var uluru = {lat: 21.2563316, lng: 81.6282785};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 14,
      center: uluru
    });
  }
  </script>
  <p>Find Your Nearest Toilet.</p>

  <button onclick="getLocation()">Get Your Location</button>
  <p id="demo"></p>

  <script>
  var x = document.getElementById("demo");

  function getLocation() {
      if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(initMap);
      } else {
          x.innerHTML = "Geolocation is not supported by this browser.";
      }

      var locations = new Array();
    function initMap(position) {
      var uluru = {lat: position.coords.latitude, lng: position.coords.longitude};
      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 14,
        center: uluru
      });
      var marker = new google.maps.Marker({
              position: uluru,
              icon: 'http://maps.google.com/mapfiles/ms/icons/blue-dot.png',
              map: map
          });

      $.ajax({
          type: 'POST',
          url: '/api/map/route/',
          data: JSON.stringify(uluru), // or JSON.stringify ({name: 'jonas'}),
          success: function(data) {
              var loc =  data['location']
              var place_ids = data['place_id']
              var infoWindow = new google.maps.InfoWindow();
              for(var i in loc){
                  locations.push(loc[i]);
                  if (i == 0) {
                    var marker = new google.maps.Marker({
                    position: loc[i],
                    animation: google.maps.Animation.DROP,
                    icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
                    map: map
                  });
                  google.maps.event.addListener(marker, 'click', (function(marker, i) {
            return function() {
                data = {'place_id':place_ids[i]}
                $.ajax({
                    type: 'POST',
                    url: '/api/user/get_review/',
                    data: JSON.stringify(data),
                    success: function(data) {
                        console.log(data);
                        infoWindow.setContent(JSON.stringify(data));
                        infoWindow.open(map, marker);
                    }
                });
            }
        })(marker, i));
                }
              else {
                var marker = new google.maps.Marker({
                position: loc[i],
                animation: google.maps.Animation.DROP,
                icon: 'http://maps.google.com/mapfiles/ms/icons/red-dot.png',
                map: map
              });
              google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
            data = {'place_id':place_ids[i]}
                $.ajax({
                    type: 'POST',
                    url: '/api/user/get_review/',
                    data: JSON.stringify(data),
                    success: function(data) {
                        console.log(data);
                        infoWindow.setContent(JSON.stringify(data));
                        infoWindow.open(map, marker);
                    }
                });
        }
    })(marker, i));
        }
      }
              console.log(locations);
          },
          contentType: "application/json",
          dataType: 'json'
      });
    }
  }
  </script>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <h3>My Google Maps Demo</h3>
    <div id="map"></div>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiixzz0CeP42DEUZOCY9abZVk8kbIB6Bo&callback=initMap">
  </script>
  </body>
</html>
