
<!DOCTYPE html>
<html>
  <head>
    <title>User Review</title>
  </head>
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <body>
    <div class="jumbotron">
    <div class="container">
    <h2><center>Enter your Response</center></h2><br>
        <form id="form">
        
          <div class="form-group">
            <label for="reviews">Reviews</label>
            <textarea class="form-control required" id="reviews" rows="3"></textarea>
          </div>
          <div class="form-group">
            <!-- <label for="ratings">Ratings *</label>
            <input id="ratings" name="ratings" type="text" class="required"> -->
            <div class="col-auto my-1">
              <label class="mr-sm-2" for="inlineFormCustomSelect">Rating</label>
              <select class="custom-select mr-sm-2" id="ratings">
                <option selected>Choose...</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
                <option value="4">Four</option>
                <option value="5">Five</option>
              </select>
            </div>
          </div>
            <button type="submit" class="btn btn-outline-success" value="submit" onclick="send_user_reviews()">Send Review</button>        
        
        </form>
  </div>
</div>
  <script type="text/javascript">
      function send_user_reviews() {
          var reviews = $('#reviews').val();
          var ratings = $('#ratings').val();
          var data = {'review':reviews, 'rating':ratings};
          $.ajax({
          type: 'POST',
          url: '/api/user/review/',
          data: JSON.stringify(data), // or JSON.stringify ({name: 'jonas'}),
          success: function(data) {
              console.log(data);
          }
        });
      }
  </script>
  <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
  </body>
</html>
    